<nav class="sidebar">
    <div class="sidebar-header">
        <div class="logo-container">
            <img src="{{ url_for('static', path='img/logo_farmanorte.png') }}" alt="Logo Farma Norte"
                class="sidebar-logo">
        </div>
        <h2>Farma Norte</h2>
    </div>

    <ul class="nav-links">
        <li><a href="{{ url_for('principal') }}">Inicio</a></li>
        <li><a href="{{ url_for('inventario') }}">Inventario</a></li>
        <li><a href="{{ url_for('reportes') }}">Reportes</a></li>
        <li><a href="{{ url_for('ajustes') }}">Ajustes</a></li>
    </ul>

    <div class="sidebar-footer">
        <a href="{{ url_for('logout') }}">Cerrar Sesión</a>
    </div>
</nav>