/*estos son los estilos que mas usaremos dentro de las plantillas*/

/* --- Configuracion para los Botones --- */
.btn-premium {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 12px 18px;
    border: none;
    border-radius: var(--radius-btn);
    font-size: 0.88rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s ease;
    text-decoration: none;
    outline: none;
}

/* Variante para el Boton Principal */
.btn-premium.primary {
    background: var(--gradient-primary);
    color: var(--text-light);
}

.btn-premium.primary:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(43, 87, 102, 0.2);
}

/* Variante Botón Secundario / Cancelar (Gris) */
.btn-premium.secondary {
    background-color: #f1f5f9;
    color: var(--text-main);
    border: 1px solid #e2e8f0;
}

.btn-premium.secondary:hover {
    background-color: #e2e8f0;
}

/* Variante Botón de Peligro / Salida (Rojo) */
.btn-premium.danger {
    background: linear-gradient(135deg, #b91c1c 0%, #ef4444 100%) !important;
    color: white !important;
    text-decoration: none;
    border: none;
}

.btn-premium.danger:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(239, 68, 68, 0.3);
    color: white;
}


/*  BADGES DE ALERTA Y PRIORIDAD (STOCK)  */
.badge-priority {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
}

/* Estados de alerta calculados dinámicamente desde el Backend */
.badge-priority.critica {
    background-color: #fef2f2;
    color: var(--accent-danger);
}

.badge-priority.alta {
    background-color: #fffbeb;
    color: var(--accent-warning);
}

.badge-priority.estable {
    background-color: #ecfdf5;
    color: var(--accent-green);
}

/* Contenedor del área de usuario */
.user-auth-zone {
    display: flex;
    align-items: center;
    gap: 12px;
}

.user-info {
    text-align: right;
}

.user-name {
    display: block;
    font-weight: 600;
    font-size: 0.9rem;
    color: var(--text-main);
}

.user-role {
    font-size: 0.75rem;
    color: var(--text-muted);
    text-transform: uppercase;
}

/* El círculo del avatar */
.user-avatar-placeholder {
    width: 40px;
    height: 40px;
    background: var(--gradient-primary);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/* Clase para diferenciar visualmente al administrador */
.user-role.admin {
    color: var(--accent-danger);
    font-weight: bold;
}